<div class="row">
    <div class="col-md-4 col-md-offset-4"> <!-- using the bootstrap grid system to slim the form down. -->
        <!--<div class="well"> grey box, do not like the look of it-->
            <%= form_for @contact do |f| %> <!-- creating an 'instance var' coming form the contacts_controller / assign the function to the controller???-->
                <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, class: 'form-control' %> <!-- This is an input tag (generates the input tag) adding html class in ruby -->
                </div>
                
                <div class="form-group">
                    <%= f.label :email %>
                    <%= f.email_field :email, class: 'form-control' %> <!-- special field method for email -->
                </div>
                
                <div class="form-group">
                    <%= f.label :comments %>
                    <%= f.text_area :comments, class: 'form-control' %> <!-- different method for 'free text box' -->
                </div>
                <%= f.submit 'Submit', class: 'btn btn-default' %> <!-- ruby generating the html -->
            <% end %><!-- Above ruby code generates generates html, this is the rails way -->
        <!--</div> WELL CLASS-->
    </div>
</div>